<form [formGroup]="addEditForm" (ngSubmit)="addEditOk()">
  <div class="mb-3">
      <label for="productName" class="form-label">ProductName</label>
      <input type="text" class="form-control" formControlName="productNameForm" [(ngModel)]="productName" name="productName">
      <span style="color:red;" *ngIf="productNameForm && productNameForm.invalid && productNameForm.touched">This field is required, max length is 30</span>
    </div>
    <div class="mb-3">
      <label for="category" class="form-label">Category</label>
      <select class="form-control" formControlName="categoryForm" [(ngModel)]="category" name="category">
        <option>Basic</option>
        <option>Electrical</option>
        <option>Industrial</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">Price</label>
      <input type="text" class="form-control" formControlName="priceForm" [(ngModel)]="price" name="price">
      <span style="color:red;" *ngIf="priceForm && priceForm.invalid && priceForm.touched">This field is required, can be between 0-10000</span>
  </div>
  <div class="mb-3">
    <label for="unitsInStock" class="form-label">Units In Stock</label>
    <input type="number" class="form-control" formControlName="unitsInStockForm" [(ngModel)]="unitsInStock" name="unitsInStock">
    <span style="color:red;" *ngIf="unitsInStockForm && unitsInStockForm.invalid && unitsInStockForm.touched">This field is required, can be between 0-10000</span>
</div>
<button [disabled]="addEditForm.invalid" (click)="addProduct()" *ngIf="product.productId==0" class="btn btn-primary">
  Add
</button>
<button [disabled]="addEditForm.invalid" (click)="updateProduct()" *ngIf="product.productId!=0" class="btn btn-primary">
  Update
</button>
</form>
