<form [formGroup]="loginForm" *ngIf="!isLoginDone">
  Username:
  <input type="text" formControlName="username" [(ngModel)]="user.username">
  <br>
  <span style="color:red;" *ngIf="username && username.invalid && username.touched">This field is required, the allowed characters are: A-Z a-z 0-9, max length is 20</span>
  <br>
  Password:
  <input type="password" formControlName="password" [(ngModel)]="user.password">
  <br>
  <span style="color:red;" *ngIf="password && password.invalid && password.touched">The password must contain 8-20 characters, at least one uppercase letter, one lowercase letter, one number and one special character</span>
  <br>
  <button [disabled]="loginForm.invalid" (click)="register(user)">Register</button>
  <button [disabled]="loginForm.invalid" (click)="login(user)">Login</button>
</form>

<div *ngIf="isLoginDone">
  <button (click)="logout()">Logout</button>
</div>
  