<!-- Add product trigger modal -->
<button type="button" class="btn btn-primary float-end m-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
(click)="modalAdd()"
>
  Add Product
</button>
<div>
  <label for="nameFilter">Filter By Product Name:&emsp;</label>
  <input type="text" [(ngModel)]="filterdProductName" name="nameFilter"/>
</div>
<br>
<div>
  <label for="categoryFilter">Filter By Category:&emsp;</label>
  <select [(ngModel)]="filterdCategory" name="categoryFilter">
    <option></option>
    <option>Basic</option>
    <option>Electrical</option>
    <option>Industrial</option>
  </select>
</div>
<br>

<table class="table table-striped">
    <thead>
      <th>Id</th>
      <th>Product Name</th>
      <th>Category</th>
      <th>Price</th>
      <th>Units In Stock</th>
      <th>Edit</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of productList$ | async | filter:'productName':filterdProductName | filter:'category':filterdCategory">
        <td>{{item.productId}}</td>
        <td>{{item.productName}}</td>
        <td>{{item.category}}</td>
        <td>{{item.price}}</td>
        <td>{{item.unitsInStock}}</td>
        <td>
          <button class="btn btn-outline-primary me-2 mb-1"
          (click)="modalEdit(item)" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
          >
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20">
              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            </svg>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="alert alert-success" role="alert" id="add-success-alert">
    Inspection successfully added!
  </div>
  
  <div class="alert alert-success" role="alert" id="update-success-alert">
    Inspection successfully updated!
  </div>


  <!-- Add or edit product Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{modalTitle}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="modalClose()"
          ></button>
        </div>
        <div class="modal-body">
          <app-add-edit-product [product]="product" *ngIf="activateAddEditProductComponent"></app-add-edit-product>
        </div>
      </div>
    </div>
  </div>